@media only screen and (min-width: 768px) {
  .app {
    width: 80%;
    margin: auto;
  }
}

.filter-box__title {
    padding: 24px 0 0 24px;
    margin-bottom: 0;
    border-bottom: rgba(0, 0, 0, 0.07) solid 1px;
}

.filter-box__clear-all-button {
    margin: auto;
    display: block;
    height: 36px;
    transition: height 0.5s;
}

.filter-box__active-box {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-box__add-button {
  margin: 5px;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.filter-box__add-button--rotated {
  transform: rotate(45deg);
}

.filter-box__clear-all-button--hidden {
    height: 0;
}

.filters-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 300px;
  will-change: max-height;
  transition: max-height 1s 0s;
  padding: 0;
  overflow: hidden;
}

.filters-menu--closed {
  max-height: 0px;
}

.filters-menu--showScrollBar {
  overflow-y: auto;
}

.filters-menu__item {
  list-style-type: none;
  margin: 2px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 80%;
}
@media only screen and (min-width: 768px) {
  .filters-menu__item {
    flex-basis: calc(33% - 2px);
  }
}

.filters-menu__item--close-button {
  flex-basis: 100%;
}

.filters-menu__item .mdl-button {
  width: 100%;
}

.mdl-list__item-primary-content > a {
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

.mdl-list__item-primary-content > a > span {
  display: inline-block;
  width: calc(100% - 60px - 6px);
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .mdl-list__item-primary-content > a > span {
    width: calc(100% - 70px - 16px);
  }
}


.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-avatar {
  height: 60px;
  width: 60px;
  margin-right: 6px;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .mdl-list__item-avatar {
    height: 70px;
    width: 70px;
  }
}

.comment.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.comment {
  height: unset;
  max-height: 166px;
  margin-bottom: 2px;
}

.comment .mdl-list__item-primary-content {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(0,0,0,.54);
  height: unset;
  max-height: 130px;
  overflow: hidden;
}

.comment .mdl-list__item-text-body {
  height: unset;
}

.comment .mdl-list__item-text-body > a {
  color: rgba(0,0,0,.87);
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.mdl-list__item {
  border-top: solid rgba(0,0,0,.14) 1px;
}

.mdl-list__item-secondary-info {
  white-space: nowrap;
  margin-right: 5px;
}
